:root {
	--primary: #d81e5b;
	--secondary: #8c38ff;
	--dark: #131a26;
	--light: #EEE;
	--color-white: #fff;
    --color-light-white: #eee;
    --color-tomato: #d40640;
    --color-purple-transparent: rgba(88, 24, 69, .9);
    --color-pink-transparent: rgba(216, 14, 91, .9);
    --color-orange: #ff3c00;
    --color-light-black: #222;
    --color-black: #000;
    --shadow: rgba(0, 0, 0, .4);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

body {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom right, var(--color-pink-transparent), var(--color-purple-transparent)), 
	url(https://static.vecteezy.com/system/resources/previews/002/011/487/non_2x/blockchain-technology-design-on-blue-background-illustration-vector.jpg);
	background-size:cover;
}

.App {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.calculator {
	width: 100%;
	max-width: 400px;
	background-color: #FFF;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
	padding: 22px;
	text-align: right;
	background-color: var(--dark);
	color: var(--light);
	font-size: 23px;
	font-weight: 300;
}

.display_result {
	border-top: 1px solid var(--primary);
	border-bottom: 1px solid var(--secondary);
	height: 24px;
	padding-top: 2px;
	padding-right: 22px;
	text-align: right;
	background-color: var(--dark);
	color: var(--light);
	font-size: 17px;
	font-weight: 100;
}

.display span {
	font-size: 14px;
	color: #888;
}

.operators {
	display: flex;
}

button {
	appearance: none;
	outline: none;
	border: none;
	color: #FFF;
	padding: 16px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.4s;
	border-bottom: 1px solid var(--primary);
}

button:hover {
	opacity: 0.9;
	color: var(--primary);
}

.operators button {
	flex: 1 1 0%;
	background-color: var(--primary);
	font-weight: 700;
	border-right: 1px solid var(--dark);
	border-top: 1px solid var(--secondary);
	transition: 0.4s;
}
.operators button:hover {
	opacity: 0.9;
	color: var(--dark);
}

.digits {
	display: flex;
	flex-wrap: wrap;
}

.digits button {
	flex: 1 1 33.333%;
	max-width: 33.333%;
	background-color: var(--dark);
}

.digits_middle {
	border-left: 1px solid var(--secondary);
	border-right: 1px solid var(--secondary);
}

.equal {
	color:  var(--secondary);
}